.container {
    max-width: none !important;
}

.authPage {
    background-color: #000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 34px 46px 193px;
}

.welcomeTitle {
    color: #fff;
    align-self: start;
    margin: 0 0 129px 29px;
    font: 800 96px Inter, sans-serif;
}

.authFormsContainer {
    display: flex;
    gap: 20px;
}

.formBox {
    border-radius: 11px;
    background-color: #454040;
    flex: 1;
    padding: 30px 39px;
}

.formTitle {
    color: #fff;
    font: 800 36px Inter, sans-serif;
    margin-bottom: 59px;
}

.formGroup {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.formLabels {
    color: #fff;
    font: 500 24px Inter, sans-serif;
    flex: 0 0 23%;
}

.formInputs {
    flex: 1;
}

.input {
    background-color: #d9d9d9;
    height: 41px;
    width: 100%;
    margin-bottom: 49px;
    border: none;
    padding: 8px;
}

.actionButtons {
    display: flex;
    justify-content: space-between;
    max-width: 996px;
    margin: 93px auto 0;
    gap: 20px;
}

.actionButton {
    background-color: #d9d9d9;
    color: #000;
    font: 500 24px Inter, sans-serif;
    padding: 26px 70px;
    border: none;
    cursor: pointer;
}

@media (max-width: 991px) {
    .authPage {
        padding: 20px 20px 100px;
    }

    .welcomeTitle {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .authFormsContainer {
        flex-direction: column;
    }

    .formBox {
        padding: 20px;
    }

    .formGroup {
        flex-direction: column;
    }

    .actionButton {
        padding: 20px;
    }
}
